---
layout: archive
---
Hi, my name is David S. Kim.<br>

I love to learn new technical/soft skills and expand my knowledge boundaries. But I believe that if I cannot explain or share what I learned to others, I didn’t acquire it perfectly. Therefore, I am going to share daily what I learned through my portfolio blog. And I will post my accomplishments, too.

If you are interested in my career or projects, even different opinion or suggestion to my posting, please add your comment or send me an email.

Thank you so much.

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
