---
layout: archive
---

<img src="/assets/images/RichardFeynman.jpg" alt="RichardFeynman" style="width:300px; height:300px;">
<p>Richard Feynman says: <blockquote>I really can’t do a good job, any job, of explaining magnetic force in terms of something else you’re more familiar with, 
   because I don’t understand it in terms of anything else you’re more familiar with.</blockquote></p>
<div class="Intro">
  <h3>Intro</h3>
  <p>Hi, my name is David S. Kim.</p>
  <p>I love learning and expanding my knowledge to the new boundaries.
     And I believe that if I can't explain something what I know, I don't understand it completely. 
     In order to increasing my deeper understaning of the subject matter, I would like to share to others what I learned and what I achieved through my portfolio blog.</p>
  <p>If you have any comment or suggestion to my posting, I welcome yours.</p>
  <p>Thank you so much.</p>
</div>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
