---
layout: archive
---
<div class="Intro">
  <h3>Intro</h3>
  <p>Hi, my name is David S. Kim.</p>
  <p>I love learning new technical/soft skills and expanding my knowledge boundaries. But I believe that if I cannot explain or share what I learned to others, I didn’t acquire it perfectly. Therefore, I am going to share daily what I learned through my portfolio blog. And I will post my accomplishments, too.</p>
  <p>If you are interested in my career or projects, even different opinion or suggestion to my posting, please add your comment or send me an email.</p>
  <p>Thank you so much.</p>
</div>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
